* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: goldenrod;
    padding: 40px;
    position: relative;
    text-align: center;
}

header > h1 {
    color: #5a4953;
    font-size: 40px;
}

header > h1:hover {
    cursor: pointer;
}

body {
    background:  #3a181a;
}

.game-board, td, #orders, .modifiers {
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-collapse: collapse;
    padding: 15px;
    background-color: #ffffff;
}


.modifiers {
    font-weight: bold;
}


#map-canvas {
    padding: 0;
    margin: auto;
    margin-top: 10px;
    display: block;
    border: 1px solid black;
}

td {
    color: black;
    background-color: white;
}

td:hover {
    background-color: blue;
}

.blue-highlight {
    background-color: rgb(144, 144, 250);
}

.green-highlight {
    background-color: rgb(149, 251, 149);
}

.red-highlight {
    background-color: rgb(251, 138, 138);
}

.bold-text {
    font-weight: bold;
}

#home {
    border: box;
    position: absolute;
    color: #5a4953;
    font-size: 15px;
    right: 200px;
    top: 10px;
    padding: 2px 10px;
    border: 3px solid black;
    border-radius: 4px;
    transition: all 0.3s ease;
}

#home:hover {
    cursor: pointer;
    background: white;
}

#support:hover, #convoy:hover {
    cursor: pointer;
    background-color: blue;
}